.header {
    height: 620px;
    background-image: url("../resources/img/header-background.jpg");
    background-size: cover;
    background-position: 50% 62%;
}

.header-navbar-links {
    color: white;
    float: right;
    margin-top: 50px;
}

.header-navbar-links li {
    float: left;
    list-style-type: none;
    margin-left: 26px;
}

