/**
* Footer - Bereich
*/

.footer {
    background-color: rgb(118, 143, 197);
    text-align: center;
}

.footer p {
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer-hr {
    margin-top: 0px;
    margin-bottom: 25px;
}