/**
* Service - Bereich
*/

.service {
    padding-top: $landing-padding;
    padding-bottom: $landing-padding - 15px;
}

.service-title {
    font-weight: lighter;
    color: rgb(30, 30, 30);
}

.service-icon {
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 0px;
    display: none;

    @media ($bp-larger-than-phablet) {
        display: block;
    }
}

.service-grey {
    background-color: rgb(245, 245, 245);
}