
/**
*   Team - Bereich
*/

.team {
    background-color: rgb(30, 30, 30);
    color: white;
    padding-top: $landing-padding;
    padding-bottom: $landing-padding;
}

.team h2,
.team p {
    text-align: center;
}

.team h2 {
    margin-bottom: 0px;
}

.team p {
    margin-bottom: 10px;
}
.team-img {
    max-width: 85%;
    border-radius: 50%;
    border: 4px solid white;
}

.team-img-container {
    display: flex;
    justify-content: center;
}

.team-name {
    font-weight: bold;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0px;
}

.team-icons {
    display: flex;
    justify-content: space-evenly;
    padding-left: 20%;
    padding-right: 20%;
}

.team-icon {
    display: block;
    width: 34px;
    height: 34px;
    fill: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    min-width: 34px;
}

.team-icon svg {
    position: relative;
    top: 5px;
    left: 5px;
}

.team-slogan {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    color: rgb(220, 220, 220)
}