@font-face {
    font-family: "SairaCondensed-Regular";
    src: url(ressources/fonts/SairaCondensed-Regular.ttf);
}

@font-face {
    font-family: "SairaCondensed-Bold";
    src: url(ressources/fonts/SairaCondensed-Bold.ttf);
}

body {
    background-image: url('ressources/img/empty road.jpg');
    background-size: cover;
    background-position: center;
    font-family: "SairaCondensed-Regular";
    font-size: 4vh;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 6px;
    background: #f1f1f1;
    font-size: 3vh;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.692);
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    color: black;
}

input[type=checkbox] {
    color: white;
}

label[for=remember]{
    font-size: 3vh;
}

label {
    color: white;
    padding-left: 5px;
}


hr {
    border: 1px solid #f1f1f1;
}

p {
    color: white;
}

h1 {
    font-family: "SairaCondensed-Bold";
    font-size: 9vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

button {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: rgb(137, 221, 10);
    color: rgb(183, 0, 255);
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    border-radius: 1vh;
    box-shadow: 2px 3px magenta;
    font-family: "SairaCondensed-Bold";
    font-size: 5vh;
}
.button_window{
    margin: auto;
    text-align: center;
    width: 60%;
}

button:active{
    box-shadow: 1px 1px rgb(185, 0, 185);
    transform: translateX(1px) translateY(1px);
}

button:hover {
    opacity: 1;
}

.road {
    border-radius: 30px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpBox {
    max-width: 23em;
    margin: 90px;
    border-radius: 5vh;
    border: 1.4vw solid transparent;
    box-shadow: 7px 10px 90px, inset 0 0 9px white;
    
}
/*
.signUpBox::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 1vh; 
  background:linear-gradient(45deg,rgb(9, 255, 0),rgb(125, 61, 230),rgb(80, 46, 231)); 

  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
*/
.radient-box{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    max-width: 25em;
    position: relative;
    padding: 5%;
}

.grid_rows {
    display: grid;
    grid-template-rows: 100%;
    padding: 16px;
    padding-top: 0px;
}

.outterBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
}